
.nav {
	background-color: #ccc;
	width: 100%;
	top: 0;
}
#nav-option{
	width: inherit;
	height: inherit;
}
#map {
	width: 100%;
	height: 100%;
}
.no-paddings {
	padding-left: 0;
	padding-right: 0;
}
#place-list-list {
	overflow-x: hidden;
	overflow-y: scroll;
}

.list-btn {
	text-align: right;
}

.rank-container {
	width: 100%;
	height: 100%;
}
i {
	pointer-events: none;
}
html::-webkit-scrollbar {
	width: 0px;
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
	.card-img-top{
		display: none;
		max-height: 300px;
		max-width: 225px;
	}
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
	
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

}